@import url('http://fonts.cdnfonts.com/css/montserrat');

main {
    position: relative;
    height: 100%;
}

main .container{
    display: block;
    padding-top: 20px;
}

.filter__block{
    height: auto;
}

.search-form__block{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.search-form__block form{
    width: 100%;
}

.search-form__block input{
    height: 32px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #81CEC1;
    background: rgb(44, 167, 146, 17%);
    color: #fff;
    transition: 0.2s;
}

.search-form__block input:focus{
    box-shadow: 0 0 5px #81CEC1;
}

.select-category__block{
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.select-category__block form {
    display: flex;
    margin-bottom: 15px;
}

.select-category__block form .form-field__group{
    position: relative;
    height: 32px;
    padding: 0 10px;
    width: auto;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 8px;
}

.select-category__block form .form-field__group label{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    z-index: 5;
    transition: 0.2s;
    white-space: nowrap;
}

.select-category__block form .form-field__group.checked{
    background: rgb(44, 167, 146, 17%);
    border-color: #29EECC;
}

.select-category__block form .form-field__group.checked label{
    color: #29EECC;
}

.select-category__block form .form-field__group input{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}

.filter__block .category-title h2{
    font-size: 1.5rem;
    color: #F8F4F4;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}

.services__block{
    height: auto;
}

.services__block.container{
    width: 100%;
    background: #fff;
    padding: 0;
}
.services-list__block{
    position: relative;
    height: 100%;
    width: 100%;
}

.services-list__block .services__list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.services-list__block .services__list .services-list__item{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 122px;
    height: 122px;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #9E6935;
    padding: 12px 20px;
}

.services-list__block .services__list .services-list__item .item-image__block{
    position: relative;
    height: 98px;
    width: 98px;
    border-radius: 10px;
    overflow: hidden;
}

.services-list__block .services__list .services-list__item .item-image__block img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.services-list__block .services__list .services-list__item .item-info__block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.services-list__block .services__list .services-list__item .item-info__block .item-title{
    font-family: Tahoma, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.services-list__block .services__list .services-list__item .item-info__block .item-price .span-price{
    font-family: Montserrat;
    font-size: 1rem;
    color: #2CA792;
    font-weight: 600;
}

.services-list__block .services__list .services-list__item .item-info__block .item-duration .span-duration{
    font-family: Montserrat;
    font-size: 0.875rem;
    color: #7C7C7C;
}

.services-list__block .services__list .services-list__item .item-info__block .item-btn__block{
    position: relative;
    height: 28px;
    width: 95px;
}

.services-list__block .services__list .services-list__item .item-info__block .item-btn__block button{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px 10px;
    border-radius: 5px; 
    color: #B45A8A;
    background: #FFD6EC;
    border: 1px solid #B45A8A;
    font-weight: 500;
    font-size: 1.1rem;
}